* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

@font-face {
  font-family: Pretendard;
  src: url(./Fonts/Pretendard/Pretendard-Thin.woff2) format("woff2"),
       url(./Fonts/Pretendard/Pretendard-Thin.woff) format("woff");
  font-weight: 100;
}

@font-face {
  font-family: Pretendard;
  src: url(./Fonts/Pretendard/Pretendard-ExtraLight.woff2) format("woff2"),
       url(./Fonts/Pretendard/Pretendard-ExtraLight.woff) format("woff");
  font-weight: 200;
}

@font-face {
  font-family: Pretendard;
  src: url(./Fonts/Pretendard/Pretendard-Light.woff2) format("woff2"),
       url(./Fonts/Pretendard/Pretendard-Light.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: Pretendard;
  src: url(./Fonts/Pretendard/Pretendard-Regular.woff2) format("woff2"),
       url(./Fonts/Pretendard/Pretendard-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Pretendard;
  src: url(./Fonts/Pretendard/Pretendard-Medium.woff2) format("woff2"),
       url(./Fonts/Pretendard/Pretendard-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: Pretendard;
  src: url(./Fonts/Pretendard/Pretendard-SemiBold.woff2) format("woff2"),
       url(./Fonts/Pretendard/Pretendard-SemiBold.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: Pretendard;
  src: url(./Fonts/Pretendard/Pretendard-Bold.woff2) format("woff2"),
       url(./Fonts/Pretendard/Pretendard-Bold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: Pretendard;
  src: url(./Fonts/Pretendard/Pretendard-ExtraBold.woff2) format("woff2"),
  url(./Fonts/Pretendard/Pretendard-ExtraBold.woff) format("woff");
  font-weight: 800;
}

@font-face {
  font-family: Pretendard;
  src: url(./Fonts/Pretendard/Pretendard-Black.woff2) format("woff2"),
       url(./Fonts/Pretendard/Pretendard-Black.woff) format("woff");
  font-weight: 900;
}